<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Icon from page -->
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">

    <!-- Adding libs and styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/utils/videopage_style.css" />
    <title>Como usar o CataEmprego</title>
  </head>

  <script type = "text/javascript">
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>


  <script type="module">
    import supabaseAuthentication from "../../../control/SupabaseUtils.js"
    import searchJobs from "../../../control/searchSupabase.js"
  
    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }
  
    if (document.cookie.split(';').some((item) => item.trim().startsWith('session_id=')) && getCookie("session_id").length > 1) {
      const _supabase = supabaseAuthentication();
    
      async function logout() {
        let old_cookie_value = getCookie("session_id") 
        let user_id = getCookie("user_id")
        window.document.cookie = "session_id=;Path=/cataemprego"
        window.document.cookie = "user_id=;Path=/cataemprego"
      
        let update_info = {
          session_id: ""
        }
      
        const {data: data_update, error: error_update } = await _supabase
                                  .from('users-auth')
                                  .update(update_info)
                                  .eq("user_id",user_id)
      }
    
      const userLogout = document.getElementById("logout")
      userLogout.addEventListener("click", e => {
        logout()
        document.location.href = "../utils/logout.html"
      })
    }
    else {
      document.location.href = "../utils/needs_login.html"
    }
  </script>
  <!-- First page app  -->
  <body>
    <main>
      <div>
        <img class="video_page_logo" src="../../images/logo.png">
        <button id="logout" class="button--logout">Deslogar</button>
        <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">Menu</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="../user/page_user.html" style="background: #E5E5E5;">Buscar Vagas</a>
            <a href="../company/register_company.html" style="background: #E5E5E5;">Cadastrar Empresa</a>
            <a href="../company/registered_companies.html" style="background: #E5E5E5;">Empresas Cadastradas</a>
            <a href="../jobs/register_jobs1.html" style="background: #E5E5E5;">Cadastrar Vagas</a>
            <a href="../jobs/registered_jobs.html" style="background: #E5E5E5;">Vagas Cadastradas</a>
            <a href="../utils/videopage_user.html" style="background: #E5E5E5;">Como usar o CataEmprego</a>
            <a href="../utils/about_us.html" style="background: #E5E5E5;">Sobre o CataEmprego</a>
          </div>
        </div>
      </div>  
      <h2 class="video_page_h1">Como usar o CataEmprego?</h2>
      <br>
      <image class="video_page_btn_video" src="../../images/video.png">
    </main>
    <script type="module" src="../../../control/videopage.js"></script>
  </body>
</html>