<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@1"></script>
    <script src="../../control/company_login.js" type="module"></script>
    <link rel="stylesheet" type="text/css" href="../../view/css/company_login.css">
</head>

<main>
    <img class="video_page_logo" src="../images/logo.png"></div>
</main>
<div style= "text-align:center;">
    <button class="button--actions" type="button" id="register-user" onclick="location.href='register_login_company.html'">Quero cadastrar uma conta</button>
    <br>
    <br>
    <br>
    <button class="button--actions" type="button"  id="login-user" onclick="location.href='login_company.html'">Já tenho uma conta</button>
</div>    

</html>