<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@1"></script>
    <link rel="stylesheet" type="text/css" href="../../view/css/login.css">
</head>

<main>
    <img class="video_page_logo" src="../images/logo.png"></div>
</main>

<body>
    <div style="color: white; text-shadow: 2px 2px 0px #a9a9a9;">
      <p><h2>Obrigado pela sua inscrição!</h2></p>
      <p><h2>Um e-mail de confirmação foi enviado para sua conta de e-mail.</h2></p>
      <p><h2>Verifique sua conta para usufruir de todos os benefícios do CataEmprego!</h2></p>      
    </div>
    <br>
    <div style="text-align:center">
      <button class="video_page_btn" onclick="location.href='../../index.html';">Voltar</button>
    </div>
</body>

</html>