<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Icon from page -->
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="view/images/favicon.ico" type="image/x-icon">

    <!-- Adding libs and styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/job_detailment.css" />
    <title>CataEmprego</title>
  </head>

  <!-- First page app  -->
  <body>
    <main>
      <img class="video_page_logo" src="../images/logo.png">
    </main>
    
    <template job-detailment>
    <div class="detailment" style="margin:auto;">
      <div style="background:white;  display: flex; margin-bottom: 5px;">
        <div class="job_card_ret1">Empresa</div><div class="job_card_ret2" position-company></div>  
      </div>
      <div style="background:white;  display: flex; margin-bottom: 5px;">
        <div class="job_card_ret1">Vaga</div><div class="job_card_ret2" position-company></div>  
      </div>
      <div style="background:white;  display: flex; margin-bottom: 5px;">
        <div class="job_card_ret1">Local</div><div class="job_card_ret2" position-location></div>  
      </div>
      <div style="background:white;  display: flex; margin-bottom: 5px;">
        <div class="job_card_ret1">Horário</div><div class="job_card_ret2" position-duty></div>  
      </div>
      <div style="background:white;  display: flex; margin-bottom: 5px;">
        <div class="job_card_ret1">Salário</div><div class="job_card_ret2" position-salary></div>  
      </div>
      <div style="background:white;  display: flex; margin-bottom: 5px;">
        <div class="job_card_ret1">Benefícios</div>
        <div class="job_card_ret3">Vale Alimentação</div>
        <div class="job_card_ret4" benefit-pos-food-y style="margin-left: 20px;">Sim</div>   
        <div class="job_card_ret4" benefit-pos-food-n style="margin-left: 20px;">Não</div> 
      </div>
      <div style="background:white;  display: flex; margin-bottom: 5px;">
        <div class="job_card_ret3" style="margin-left:110px;">Vale Transporte</div>
        <div class="job_card_ret4" benefit-pos-transp-y style="margin-left: 20px;">Sim</div>   
        <div class="job_card_ret4" benefit-pos-transp-n style="margin-left: 20px;">Não</div> 
      </div>
      <div style="background:white;  display: flex; margin-bottom: 5px;">
        <div class="job_card_ret3" style="margin-left:110px;">Plano Odontológico</div>
        <div class="job_card_ret4" benefit-tee-transp-y style="margin-left: 20px;">Sim</div>   
        <div class="job_card_ret4" benefit-tee-transp-n style="margin-left: 20px;">Não</div> 
      </div>
      <div style="background:white;  display: flex; margin-bottom: 5px;">
        <div class="job_card_ret3" style="margin-left:110px;">Plano de Saúde</div>
        <div class="job_card_ret4" benefit-heal-y style="margin-left: 20px;">Sim</div>   
        <div class="job_card_ret4" benefit-heal-n style="margin-left: 20px;">Não</div> 
      </div>
      <div style="background:white;  display: flex; margin-bottom: 5px;">
        <div class="job_card_ret1">Descrição</div>
        <p style="background:white; margin-left: 10px; text-justify: auto; margin-right: 10px;" description></p>
      </div>
      <button class="resume_button">Cadastrar Currículo</button>
      <button class="back_button">Voltar</button>
    </template>
    </div>  
  </body>
</html>