<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@1"></script>
    <script src="../../control/company_login.js" type="module"></script>
    <link rel="stylesheet" type="text/css" href="../../view/css/company_login.css">
</head>

<main>
    <img class="video_page_logo" src="../images/logo.png"></div>
</main>
<body>
    <div class='container' style="text-align:center">
        <div class='section'>
            <form id='log-in'>
                <h2 class="font-style-login">Log In</h2>
                <br>
                <label class="font-style-login" style="background:none">Email </label>
                <input class="input--register" type='email' name='email'/>
                <label class="font-style-login" style="background:none">Senha </label>
                <input class="input--register" type='password' name='password'/>
                <input class= "button--send" type='submit'>
            </form>
        </div>
    </div>
    <br>
    <br>
    <div style="text-align:center">
        <button class="video_page_btn" onclick="location.href='../../index.html';">Voltar</button>
    </div>
</body>

</html>