<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@1"></script>
    <link rel="stylesheet" type="text/css" href="../../view/css/company_login.css">
</head>

<main>
    <img class="video_page_logo" src="../images/logo.png"></div>
</main>
<script type="module">
    import supabaseAuthentication from "../../control/SupabaseUtils.js"

    const _supabase = supabaseAuthentication();

    window.userToken = null

    document.addEventListener('DOMContentLoaded', function (event) {
      var signUpForm = document.querySelector('#sign-up')
      signUpForm.onsubmit = signUpSubmitted.bind(signUpForm)
    })

    const signUpSubmitted = (event) => {
      event.preventDefault()
      const email = event.target[0].value
      const password = event.target[1].value

      _supabase.auth
        .signUp({ email, password })
        .then((response) => {
          response.error ? alert(response.error.message) : setToken(response)
        })
        .catch((err) => {
          alert(err)
        })
    }


    function setToken(response) {
      if (response.user.confirmation_sent_at && !response?.session?.access_token) {
        alert('Confirmation Email Sent')
      } else {
        document.querySelector('#access-token').value = response.session.access_token
        document.querySelector('#refresh-token').value = response.session.refresh_token
        alert('Logged in as ' + response.user.email)
      }
    }
</script>

<body>
    <div class='container' style="text-align:center">
        <div class='section'>
            <form id='sign-up'>
                <h2 class="font-style-login">Registre-se!</h2>
                <br>
                <label class="font-style-login" style="background:none">Email </label>
                <input class="input--register" type='email' name='email'/>
                <label class="font-style-login" style="background:none">Senha </label>
                <input class="input--register" type='password' name='password'/>
                <input class= "button--send" type='submit'>
            </form>
        </div>
    </div>
    <br>
    <br>
    <div style="text-align:center">
        <button class="video_page_btn" onclick="location.href='../../index.html';">Voltar</button>
    </div>
</body>

</html>