<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@1"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../view/css/register_company.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <title>Cadastro de Empresa</title>
</head>

<script type = "text/javascript">
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>

<script type="module">
    import supabaseAuthentication from "../../control/SupabaseUtils.js"
    import searchJobs from "../../control/searchSupabase.js"
    import Company from "../../model/objects/Company.js"
    import Address from "../../model/objects/Address.js"

    const _supabase = supabaseAuthentication();

    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }

    if (document.cookie.split(';').some((item) => item.trim().startsWith('session_id=')) && getCookie("session_id").length > 1) {

      function generateGuid() {
        return Math.random().toString(36).substring(2, 15) +
               Math.random().toString(36).substring(2, 15);
    }

      async function logout() {
        let old_cookie_value = getCookie("session_id") 
        let user_id = getCookie("user_id")
        window.document.cookie = "session_id=;Path=/"
        window.document.cookie = "user_id=;Path=/"

        let update_info = {
          session_id: ""
        }

        const {data: data_update, error: error_update } = await _supabase
                                  .from('users-auth')
                                  .update(update_info)
                                  .eq("user_id",user_id)
      }

      const userLogout = document.getElementById("logout")
      userLogout.addEventListener("click", e => {
        logout()
        document.location.href = "../pages/logout.html"
      })

      const formInput = document.querySelector("[register-company]");
      document.addEventListener("DOMContentLoaded", function(event){
        formInput.onsubmit = registerAction.bind(formInput)
        })

        const registerAction = async (event) => {
          event.preventDefault()
          
          const company_name = event.target[0].value.toLowerCase()
          const company_cnpj = event.target[1].value.toLowerCase()
          const company_street = event.target[2].value.toLowerCase()
          const company_neighborhood = event.target[3].value.toLowerCase()
          const company_city = event.target[4].value.toLowerCase()
          const company_state = event.target[5].value.toLowerCase()
          const company_phone = event.target[6].value.toLowerCase()
          const company_logo = event.target[7].value.toLowerCase()
          const company_id = generateGuid()

          var address = new Address(company_id,
                                    company_street,
                                    company_city,
                                    company_state)
          var company = new Company(company_id,
                                    company_cnpj,
                                    company_name,
                                    address,
                                    company_phone,
                                    company_logo)  

          if(company_cnpj === undefined) {
            alert("Necessário preenchimento do valor de CNPJ.")
          }
          else {

            const {data: data_register_company, error: error_register_company } = await _supabase
                                    .from('registered-companies')
                                    .insert(
                                        [{ 
                                           company_id: company_id,
                                           cnpj: company_state, 
                                           company_name: company_name,
                                           company_phone: company_phone,
                                           registration_date: Date.now().toString()
                                        }]);
            const {data: data_register_company_address, error: error_register_company_address } = await _supabase
                                    .from('companies-address')
                                    .insert(
                                        [{ 
                                           company_id: company_id,
                                           street: company_street, 
                                           city: company_city,
                                           state: company_state,
                                           registration_date: Date.now().toString()
                                        }]);
            alert("Empresa registrada com sucesso!")
            setTimeout(() => {
                      document.location.href = "../pages/page_user.html"
                      }, 1800)
          }
          
        }
    }
    else {
      document.location.href = "../pages/needs_login.html"
    }
</script>

<main>
    <div>
        <img class="video_page_logo" src="../images/logo.png">
        <button id="logout" class="button--logout">Deslogar</button>
        <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">Menu</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="page_user.html" style="background: #E5E5E5;">Buscar Vagas</a>
            <a href="#" style="background: #E5E5E5;">Cadastrar Empresa</a>
            <a href="#" style="background: #E5E5E5;">Cadastrar Vagas</a>
            <a href="videopage_user.html" style="background: #E5E5E5;">Como usar o CataEmprego</a>
            <a href="about_us.html" style="background: #E5E5E5;">Sobre o CataEmprego</a>
          </div>
        </div>
      </div>  
</main>
<body>
   <h1>Cadastrar Empresa</h1> 
   <form id = "register_company" style="margin-left:35%; background: none;" register-company>
       <h5>Digite o nome ou razão social de sua empresa:</h5>
       <input id="company_name" class="user--input" type="text">
       <h5>Digite o CNPJ de sua empresa:</h5>
       <input id="company_cnpj" class="user--input" type="text">
       <h5>Digite a rua de sua empresa:</h5>
       <input id="company_street" class="user--input" type="text">
       <h5>Digite o bairro de sua empresa:</h5>
       <input id="company_neighborhood" class="user--input" type="text">
       <h5>Digite a cidade de sua empresa:</h5>
       <input id="company_city" class="user--input" type="text">
       <h5>Digite o estado de sua empresa:</h5>
       <input id="company_state" class="user--input" type="text">
       <h5>Digite o número de telefone de sua empresa:</h5>
       <input id="company_phone" class="user--input" type="tel">   
       <!-- <h5>Adicione o logo de sua empresa:</h5>
       <input id="company_logo" class="user--input" type="file" accept="image/*;.jpeg;.jpg"> -->
       <input class= "button--send" type='submit'>
   </form>  
</body>
</html>