<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@1"></script>
    <script src="../../control/company_login.js" type="module"></script>
    <link rel="stylesheet" type="text/css" href="../../view/css/company_login.css">
</head>

<main>
    <img class="video_page_logo" src="../images/logo.png"></div>
</main>
<body>
    <div class='container' style="text-align:center">
        <div class='section'>
            <form id='sign-up'>
                <h2 style="color:white; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Registre-se!</h2>
                <br>
                <label style="color:white; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; background:none">Email </label>
                <input class="input--register" type='email' name='email'/>
                <label style="color:white; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; background:none">Senha </label>
                <input class="input--register" type='password' name='password'/>
                <input class= "button--send" type='submit'>
            </form>
        </div>
    </div>
</body>

</html>