<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@1"></script>
    <link rel="stylesheet" type="text/css" href="../../view/css/login.css">
</head>

<main>
    <img class="video_page_logo" src="../images/logo.png"></div>
</main>
<script type="module">
    import supabaseAuthentication from "../../control/SupabaseUtils.js"

    const _supabase = supabaseAuthentication();

    function generateGuid() {
        return Math.random().toString(36).substring(2, 15) +
               Math.random().toString(36).substring(2, 15);
    }

    function hashCode(str) {
        return Array.from(str).reduce((hash, char) => 0 | (31 * hash + char.charCodeAt(0)), 0)
    }

    document.addEventListener('DOMContentLoaded', function (event) {
      var forgotForm = document.querySelector('#forgot-password')
      forgotForm.onsubmit = forgotSubmitted.bind(forgotForm)
    })

    const forgotSubmitted = async (event) => {
        event.preventDefault()

        const email = event.target[0].value;
        const password1 = event.target[1].value;
        const password2 = event.target[2].value;

        const {data: login_data, error: error_login } = await _supabase
                                                                 .from('users-auth')
                                                                 .select("user_id,user_email")
                                                                 .eq("user_email",email)

        if(login_data.length !== 0) {
            if(password1 === password2) {
                alert("Senha alterada com sucesso!");

                let update_info = {
                    user_password: password1,
                    hashed_password: hashCode(password1)
                }

                const {data: data_update, error: error_update } = await _supabase
                                    .from('users-auth')
                                    .update(update_info)
                                    .eq("user_id",login_data[0].user_id)
                
            } else {
                alert("Senhas digitadas não são idênticas.");
            }
        } else {
            alert("Cadastro não encontrado.");
        } 
     }

</script>

<body>
    <div class='container' style="text-align:center">
        <div class='section'>
            <form id='forgot-password'>
                <h2 class="font-style-login">Esqueci minha senha</h2>
                <br>
                <h4 class="font-style-login">Digite seu e-mail de login</h4>
                <input class="input--register" type="email" name='email'/>
                <br>
                <br>
                <h4 class="font-style-login">Digite sua nova senha</h4>
                <input class="input--register" type="password" name='password1'/>
                <br>
                <br>
                <h4 class="font-style-login">Digite a mesma senha novamente</h4>
                <input class="input--register" type='password' name='password2'/>
                <br>
                <br>
                <input class= "button--send" type='submit'>
            </form>
        </div>
    </div>
    <br>
    <br>
    <div style="text-align:center">
        <button class="video_page_btn" onclick="location.href='../../index.html';">Voltar</button>
    </div>
</body>

</html>